body {
  background-color: rgb(11, 16, 22);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  gap: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur (10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-card {
  background-color: #18191D;
  color: rgb(241, 241, 241);
  width: 320px;
  padding: 25px;
  border: 2px solid #E1D2F9;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3 ease, box shadow o.3s ease;
  cursor: pointer;
}
.profile-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24 rgba(0, 0, 0, 2);
}
.profile-card-cgi:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24 rgba(0, 0, 0, 2);
}
.profile-card-cgi {
  background-color: #18191D;
  color: rgb(241, 241, 241);
  width: 320px;
  padding: 25px;
  border: 2px solid #e6b8d9;
  border-radius: 20px;
  text-align: center;
  text-align: center;
  transition: transform 0.3 ease, box shadow o.3s ease;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
  color: #ffffff;
  margin-bottom: 20px;

}

.image-container {
  position: relative;
  width: 150px;
  margin: 0 auto 15px;
  }

  .profile-img {
  width: 150px;
  height: 150px;
  border: 3px solid #E1D2F9;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.profile-img-cgi {
  width: 150px;
  height: 150px;
  border: 3px solid #ffd4f4;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.badge{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #D99AC8;
  color: white;
  padding: 8px 8px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: medium;
}

.badge-others{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #F25050;
  color: white;
  padding: 8px 8px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: medium;
}

.name {
  margin: 10px 0 5px;
  font-size: 20px;
}

.title {
  color: aliceblue;
  margin-bottom: 30px;
  font-style: light;
  font-size: 14px;
}

.descrip-section h3, .skills-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.descrip-section p{
  font-size: 12px;
  font-style: medium;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 25px;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;  
  margin-bottom: 10px;
}

.skills-tag{
  display: inline-block;
  white-space: nowrap;

  background-color: #E1D2F9;
  color: #0D0D0D;
  border-radius: 8px;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: medium;

  overflow: visible;
}

.skills-tag-cgi{
  background-color: #f9d2f0;
  color: #0D0D0D;
  border-radius: 8px;
  padding: 8px 5px;
  font-size: 12px;
  font-weight: medium;
  text-align: center;
}

.id-left, .id-right{
  color: #ffffff;
  font-size: 12px;
}

