body {
  background-color: rgb(11, 16, 22);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.encabezado {
  width: 100%;
 padding: 60px 20px;
 color: #d4d4d4;
 border-bottom: 1px solid rgba(255,255,255,0.1);
 position: sticky;
 top: 0;
 z-index: 1000;
 backdrop-filter: blur(15px);
 -webkit-backdrop-filter: blur(15px);
 display: flex;
 justify-content: center;

}

.centro-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-width: 900px;
}

.textos-header {
 display: flex;
 flex-direction: column;
 align-items: flex-start; 
 width: 100%; 
 gap: 10px; 
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-img {
  height: 80px; 
  width: auto;
  filter: drop-shadow(0 0 10px rgba(225, 210, 249, 0.3)); /* Brillo sutil */
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: rotate(-5deg) scale(1.1);
}

.nav-links{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-links a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-links a:hover{
  color: #c5e9ff;
  background-color: #00659c;
}


.contenedor-colaboradores {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* ====  cards  ====*/

.profile-card {
  background-color: #18191D;
  color: rgb(241, 241, 241);
  width: 320px;
  padding: 25px;
  border: 2px solid #E1D2F9;
  border-radius: 20px;
  text-align: center;
  transform: scale(1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  backface-visibility: hidden;
  cursor: pointer;
}
.profile-card:hover {
  background-color: #5F1DC9;
  transform: scale(1.05);
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);*/
}
.profile-card-cgi:hover {
  background-color: #D21C93;
  transform: scale(1.05)
}
.profile-card-cgi {
  background-color: #18191D;
  color: rgb(241, 241, 241);
  width: 320px;
  padding: 25px;
  border: 2px solid #e6b8d9;
  border-radius: 20px;
  text-align: center;
  transform: scale(1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  backface-visibility: hidden;
  cursor: pointer;
  }

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
  color: #ffffff;
  margin-bottom: 20px;

}

.image-container {
  position: relative;
  width: 150px;
  margin: 0 auto 15px;
  }

  .profile-img {
  width: 150px;
  height: 150px;
  border: 3px solid #E1D2F9;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.profile-img-cgi {
  width: 150px;
  height: 150px;
  border: 3px solid #ffd4f4;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.badge{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #D99AC8;
  color: white;
  padding: 8px 8px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: medium;
}

.badge-others{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #F25050;
  color: white;
  padding: 8px 8px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: medium;
}

.name {
  margin: 10px 0 5px;
  font-size: 20px;
}

.title {
  color: aliceblue;
  margin-bottom: 30px;
  font-style: light;
  font-size: 14px;
}

.descrip-section h3, .skills-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.descrip-section p{
  font-size: 12px;
  font-style: medium;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 25px;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;  
  margin-bottom: 10px;
}

.skills-tag{
  display: inline-block;
  white-space: nowrap;

  background-color: #E1D2F9;
  color: #0D0D0D;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: medium;

  overflow: visible;
}

.skills-tag-cgi{
  background-color: #f9d2f0;
  color: #0D0D0D;
  border-radius: 8px;
  padding: 8px 5px;
  font-size: 12px;
  font-weight: medium;
  text-align: center;
}

.id-left, .id-right{
  color: #ffffff;
  font-size: 12px;
}

